<h2>Search results for "{{search}}"</h2>

<div id="cards">

    {{#each artists}}
        <div class="card">
            {{#if this.images}}
                <div class="card-image" style="background-image:url({{this.images.0.url}})"></div>
            {{/if}}
            <div class="card-infos">
                <h2>{{this.name}}</h2>
                <a href="/albums/{{this.id}}">View albums</a>
            </div>
        </div>
    {{/each}}

</div>
